<button mat-fab color="accent" class="buttonToTop" *ngIf="isMenuScrolled"
(click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
</button>
<div class="bg-shape">  
        <ng-lottie class="lottie" [options]='option1'></ng-lottie>
        <ng-lottie class="lottieCell" [options]='option3'></ng-lottie>
        <container-one></container-one>
</div>

<div class="bg-shape2">
        <img src="assets/fundo1.png" class="bgImagem">
        <container-two></container-two>
</div>

<div class="bg-shape3">
        <container-three></container-three>
</div>

<div class="bg-shape4">
        <container-four></container-four>
</div>
