*{
    user-select: none;
    cursor: default;
}

.headerFlex{
    align-items: center;
    display: flex;
}


button{
    margin: 15px;
}

button:active{
    color: #ffffff;
}

span{
    color: white;
   .colorLogo{
   color:  #ffffff;
}
}
