*{
    user-select: none;
    cursor: default;
}
.tittle-color1{
    margin-left: 20px;
    margin-right: 150px;
    font-weight: bolder;
    color: white;
    margin: auto;
}
.containerAll{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.celvideo{
    margin: auto;
    width: 250px;
}

@media (max-width: 900px){
    .containerAll{
        display: block;
        padding: 100px;
        justify-content: space-between;
    }
    .celvideo{
        margin: auto;
        z-index: 1;
    }
    .tittle-color1{
        margin-bottom: 20px;
    }
}